<!DOCTYPE html>
<html>
  <head>
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    {% block body %}

    <!--<div>

      <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
        <li><a href="{% url 'account_logout' %}">Выйти</a></li>
        {% else %}
        <li><a href="{% url 'account_login' %}">Войти</a></li>
        <li><a href="{% url 'account_signup' %}">Зарегистрироваться</a></li>
        {% endif %}
      </ul>
    </div>-->
    {% block content %}
    {% endblock %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
  </body>
</html>
