{% extends "account/base.html" %}

{% block content %}

<h1>Вход</h1>

<p>Если вы у нас еще не зарегистрированы, то вам необходимо пройти процесс <a href="{{ signup_url }}">регистрации</a></p>

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="primaryAction" type="submit">Войти</button>
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">Забыли пароль?</a>
</form>

{% endblock %}
