{% extends "account/base.html" %}

{% block content %}
<h1>Выход</h1>

<p>Вы точно хотите выйти?</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit">Выйти</button>
</form>


{% endblock %}
