{% extends "account/base.html" %}

{% block content %}
<h1>Регистрация</h1>

<p>У вас уже есть аккаунт? Тогда вам необходимо <a href="{{ login_url }}">Войти</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">Зарегистрироваться</button>
</form>

{% endblock %}
