<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style>
	ul{
	list-style-type: none;
	}
</style>
<p>000</p>
{% for result in result %}
<ul>
    <li>
<p>{{ result.id }}</p>
<p>{{ result.name }}</p>
<!--<input type="hidden" name="result_id" value="{{ result.id }}">-->
<a href="{% url 'delete_aud' result.id %}">Удалить</a>
    </li>
    </br>
</ul>
{% endfor %}
</body>
</html>