<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

</head>

<body>
<style>
	ul{
	list-style-type: none;
	}
</style>


<a href="http://localhost:8000/autorize/get_grupp">Доступные группы</a>

{% for spisok_group in spisok_group %}
<ul>
    <li>
<p>{{ spisok_group.name }}</p>
<a href="{% url 'lead' spisok_group.id %}">Выбрать группу</a>
    </li>
    </br>
</ul>
{% endfor %}


{% for lead_forms in lead_forms %}
<ul>
    <li>
<p>{{ lead_forms.name }}</p>
<a href="{% url 'forms_data' lead_forms.group_id lead_forms.form_id %}">Выбрать форму</a>
{{ lead_forms.form_id }}
{{ lead_forms.group_id }}

    </li>
    </br>
</ul>
{% endfor %}

{% for forms_data in forms_data %}
<ul>
    <li>
<p>{{ forms_data.lead_id }}</p>
                {% for forms in forms_data.answers %}
                <ul>
                    <li>
                    <p>{{ forms.answer.value }}</p>
                    </li>
                 </br>
                </ul>
                {% endfor %}


    </li>
    </br>
</ul>
{% endfor %}


<p>{{ forms_data }}</p>


<a href="http://localhost:8000/autorize/start/">Запустить</a>
<a href="http://localhost:8000/autorize/stop/">Остановить</a>


</body>
</html>