<!DOCTYPE html>
{% include "base.html" %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>apitest</title>
</head>


{% block content %}


<a href="https://oauth.vk.com/authorize?client_id=7520963&display=page&redirect_uri=http://localhost:8000/autorize/account&scope=ads,groups&response_type=code&v=5.110 ">Обновить подключение ВКонтакте</a>
</br>
<a href="http://localhost:8000/autorize/get_grupp">Выбрать группу</a>
</br></br></br>
<p>Обновить подключение Telegram</p>
<form action="/telegram_name/" method="GET">
      <div>
        <input type="text" placeholder="@" name="username">
      </div>
      <button type="submit">Подключиться/Переподключиться</button>
    </form>

{{ chat_id }}
{% endblock %}
<!--<a href="https://api.vk.com/method/ads.getAds?account_id&access_token=c4074795c4074795c40747951dc4758556cc407c40747959af42687ff46a80529e8dfe4&v=5.110">Список</a>-->
<!--</br>-->
<!--<a href="https://api.vk.com/method/users.get?user_id=101293596&v=5.110&access_token=956c17fb956c17fb956c17fba1951ed14e9956c956c17fbcb98a1aadfd38448b86aceb0">Мои данные</a>-->


<!--<p>{{ m.id }}</p>-->
<!--<p>{{ m.first_name }}</p>-->
<!--<p>{{ m.last_name }}</p>-->
<!--<p>{{ m.can_access_closed }}</p>-->

<!--<p>{{ code }}</p>-->

<!--<p><a href="http://localhost:8000/autorize/1">111</a></p>-->

</body>
</html>