<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

</head>

<body>
<p>111111111111</p>


{{ code }}
<p>{{ res }}</p>
<p>{{ result }}</p>

<script>
$.ajax({
	url: 'http://localhost:8000/autorize/account/',         /* Куда пойдет запрос */
	data: {token: '{{res}}'
	success: function(data){   /* функция которая будет выполнена после успешного запроса.  */
		alert(data);            /* В переменной data содержится ответ от index.php. */
	}
});
</script>
</body>
</html>